html {
    box-sizing: border-box;
    font-size: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #153d27;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    overflow-y: auto;
}

@media screen and (max-width: 600px) { /* small devices, cascade to normal body css */
    body {
        padding-top: 0;
        padding-bottom: 0;
    }
}

header {
    width: 100%;
    max-width: 40rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    background-color: whitesmoke;
    /* border: 3px dashed black; */
}

a#logo-text {
    font-family: 'Goldman', cursive;
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
    font-weight: 400;
}
a#logo-text:hover {
    text-decoration: underline;
}

header img {
    width: 3rem;
    height: 3rem;
}